In [4]:
import pandas as pd
from pathlib import Path

In [5]:
p = Path("../data/")
files = list(p.glob("*.csv"))
sorted(files)

[PosixPath('../data/sample_submission.csv'),
 PosixPath('../data/test_sequences.csv'),
 PosixPath('../data/train_labels.csv'),
 PosixPath('../data/train_sequences.csv'),
 PosixPath('../data/validation_labels.csv'),
 PosixPath('../data/validation_sequences.csv')]

In [6]:
for file in files:
    df = pd.read_csv(file)
    print(file, ":", df.shape)

../data/train_labels.csv : (137095, 6)
../data/validation_sequences.csv : (12, 5)
../data/train_sequences.csv : (844, 5)
../data/test_sequences.csv : (12, 5)
../data/sample_submission.csv : (2515, 18)
../data/validation_labels.csv : (2515, 123)

# Sequences

Columns:

- target_id: unique identifier
- sequence
- temporal_cutoff
- description
- all_sequences

In [7]:
from rnafold.report import report

report()

# SEQUENCES
- Train: 844 sequences
- Val:	 12 sequences
- Test:	 12 sequences
No intersection between train and val: True
Val == test: True

In [8]:
from rnafold.config import Settings

sequences = pd.read_csv(Settings.sequences.test)
sequences

,target_id,sequence,temporal_cutoff,description,all_sequences
0,R1107,GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUU...,2022-05-28,CPEB3 ribozyme\nHuman\nhuman CPEB3 HDV-like ri...,>7QR4_1|Chain A|U1 small nuclear ribonucleopro...
1,R1108,GGGGGCCACAGCAGAAGCGUUCACGUCGCGGCCCCUGUCAGCCAUU...,2022-05-27,CPEB3 ribozyme\nChimpanzee\nChimpanzee CPEB3 H...,">7QR3_1|Chains A, B|U1 small nuclear ribonucle..."
2,R1116,CGCCCGGAUAGCUCAGUCGGUAGAGCAGCGGCUAAAACAGCUCUGG...,2022-06-04,Cloverleaf RNA\nPoliovirus\nCrystal Structure ...,">8S95_1|Chain A[auth C]|Lysine tRNA scaffold,P..."
3,R1117v2,UUGGGUUCCCUCACCCCAAUCAUAAAAAGG,2022-06-03,PreQ1 class I type III riboswitch\nK. pneumoni...,">8FZA_1|Chains A, B|PreQ1 Riboswitch (30-MER)|..."
4,R1126,GGAAUCUCGCCCGAUGUUCGCAUCGGGAUUUGCAGGUCCAUGGAUU...,2022-06-11,Traptamer\nSynthetic\nAdditional Information: ...,>8TVZ_1|Chain A[auth C]|RNA (363-MER)|syntheti...
5,R1128,GGAAUAUCGUCAUGGUGAUUCGUCACCAUGAGGCUAGAUCUCAUAU...,2022-06-10,6WJ\nSingle-stranded Paranemic Crossover RNA T...,>8BTZ_1|Chain A|RNA Paranemic croosover triang...
6,R1136,GGAUACGUCUACGCUCAGUGACGGACUCUCUUCGGAGAGUCUGACA...,2022-06-18,Apta-FRET\nAdditional Information: Info...,>7ZJ4_1|Chain A[auth E]|brocolli-pepper aptame...
7,R1138,GGGAGAGUACUAUUCAGAUGCAGACCGCAAGUUCAGAGCGGUUUGC...,2022-06-24,6HBC-Young\nAdditional Information: Thi...,>7PTK_1|Chain A[auth B]|RNA|synthetic construc...
8,R1149,GGACACGAGUAACUCGUCUAUCUUCUGCAGGCUGCUUACGGUUUCG...,2022-07-02,SARS-CoV-2 SL5\nAdditional Information: ...,>8UYS_1|Chain A|SARS-CoV-2 RNA SL5 domain.|Sev...
9,R1156,GGAGCAUCGUGUCUCAAGUGCUUCACGGUCACAAUAUACCGUUUCG...,2022-07-07,BtCoV-HKU5 SL5\nBtCoV-HKU5 5 proximal stem-loo...,>8UYE_1|Chain A|BtCoV-HKU5 5' proximal stem-lo...
10,R1189,GCGUACAGGGAACACGCAACCCCGAAGGAUCGGGGAAGGGACGUCG...,2022-08-11,A-6B\nAdditional Information: The T1189...,">7YR7_1|Chains A[auth B], B[auth C], C[auth D]..."
11,R1190,GCGUACAGGGAACACGCAACCCCGAAGGAUCGGGGAAGGGACGUCG...,2022-08-11,A-4B\nAdditional Information: The T1189...,">7YR6_1|Chains A[auth B], B[auth C], C[auth D]..."

In [9]:
# Get one sample
ROW = 0

sample = sequences.iloc[ROW].to_dict()
sample

{'target_id': 'R1107',
 'sequence': 'GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
 'temporal_cutoff': '2022-05-28',
 'description': 'CPEB3 ribozyme\nHuman\nhuman CPEB3 HDV-like ribozyme',
 'all_sequences': '>7QR4_1|Chain A|U1 small nuclear ribonucleoprotein A|Homo sapiens (9606)\nRPNHTIYINNLNEKIKKDELKKSLHAIFSRFGQILDILVSRSLKMRGQAFVIFKEVSSATNALRSMQGFPFYDKPMRIQYAKTDSDIIAKM\n>7QR4_2|Chain B|RNA CPEB3 ribozyme|Homo sapiens (9606)\nGGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU'}

# Submission

In [10]:
submission = pd.read_csv(p / "sample_submission.csv")
submission

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,y_3,z_3,x_4,y_4,z_4,x_5,y_5,z_5
0,R1107_1,G,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,R1107_2,G,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,R1107_3,G,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,R1107_4,G,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,R1107_5,G,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,R1189_114,U,114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2511,R1189_115,U,115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2512,R1189_116,U,116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2513,R1189_117,U,117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2514,R1189_118,U,118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
labels_val = pd.read_csv(Settings.labels.val)
labels_val

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,z_37,x_38,y_38,z_38,x_39,y_39,z_39,x_40,y_40,z_40
0,R1107_1,G,1,-5.499000,8.520000,8.605000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
1,R1107_2,G,2,-5.826000,10.453000,14.010000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2,R1107_3,G,3,-5.849000,14.768000,17.584999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
3,R1107_4,G,4,-5.784000,19.985001,18.666000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
4,R1107_5,G,5,-5.755000,25.533001,17.132999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,R1190_114,U,114,87.870003,105.432999,115.183998,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2511,R1190_115,U,115,92.911003,105.394997,113.741997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2512,R1190_116,U,116,99.012001,105.749001,113.073997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2513,R1190_117,U,117,103.861000,103.453003,114.589996,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2514,R1190_118,U,118,106.745003,95.313004,112.320999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18

In [12]:
labels_train = pd.read_csv(Settings.labels.train)
labels_train

               ID resname  resid     x_1        y_1     z_1
0        1SCL_A_1       G      1  13.760 -25.974001   0.102
1        1SCL_A_2       G      2   9.310 -29.638000   2.669
2        1SCL_A_3       G      3   5.529 -27.813000   5.878
3        1SCL_A_4       U      4   2.678 -24.900999   9.793
4        1SCL_A_5       G      5   1.827 -20.136000  11.793
...           ...     ...    ...     ...        ...     ...
137090  8Z1F_T_82       U     82     NaN        NaN     NaN
137091  8Z1F_T_83       C     83     NaN        NaN     NaN
137092  8Z1F_T_84       A     84     NaN        NaN     NaN
137093  8Z1F_T_85       U     85     NaN        NaN     NaN
137094  8Z1F_T_86       A     86     NaN        NaN     NaN

[137095 rows x 6 columns]

In [13]:
labels_train[labels_train.isna().sum(axis=1) > 0]

               ID resname  resid  x_1  y_1  z_1
410      1ZDI_S_1       A      1  NaN  NaN  NaN
411      1ZDI_S_2       C      2  NaN  NaN  NaN
412      1ZDI_S_3       A      3  NaN  NaN  NaN
426     1ZDI_S_17       U     17  NaN  NaN  NaN
427     1ZDI_S_18       G     18  NaN  NaN  NaN
...           ...     ...    ...  ...  ...  ...
137090  8Z1F_T_82       U     82  NaN  NaN  NaN
137091  8Z1F_T_83       C     83  NaN  NaN  NaN
137092  8Z1F_T_84       A     84  NaN  NaN  NaN
137093  8Z1F_T_85       U     85  NaN  NaN  NaN
137094  8Z1F_T_86       A     86  NaN  NaN  NaN

[6145 rows x 6 columns]

- there are NaN values in the train dataset -> to investigate

In [15]:
import pandas as pd
import numpy as np

df = labels_train

# Define N
N = 5

# Identify rows with NaN
nan_indices = df.index[df.isna().any(axis=1)]

# Get the range of indices to keep
keep_indices = set()
for idx in nan_indices:
    for offset in range(-N, N + 1):  # Include N rows before and after
        new_idx = idx + offset
        if 0 <= new_idx < len(df):  # Ensure within bounds
            keep_indices.add(new_idx)

# Extract the sub-dataframe
sub_df = df.loc[sorted(keep_indices)].reset_index(drop=True)

print(sub_df)
sub_df.to_csv("weird.csv")

             ID resname  resid        x_1    y_1        z_1
0     1IKD_A_18       C     18   2.776000  1.755  12.430000
1     1IKD_A_19       A     19   5.142000 -2.609  16.330999
2     1IKD_A_20       C     20   9.836000 -6.100  17.851000
3     1IKD_A_21       C     21  16.243999 -5.931  19.789000
4     1IKD_A_22       A     22  16.080999  0.298  21.106001
...         ...     ...    ...        ...    ...        ...
9283  8Z1F_T_82       U     82        NaN    NaN        NaN
9284  8Z1F_T_83       C     83        NaN    NaN        NaN
9285  8Z1F_T_84       A     84        NaN    NaN        NaN
9286  8Z1F_T_85       U     85        NaN    NaN        NaN
9287  8Z1F_T_86       A     86        NaN    NaN        NaN

[9288 rows x 6 columns]